<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <%= form_for @event do |f|%>
    <%= f.label :event_title %>
    <%= f.text_field :event_title %><br>
    <%= f.label :address %>
    <%= f.text_field :address %><br>
    <%= f.label :event_time %>
    <%= f.datetime_select :event_time, :ampm => true, :minute_step => 15 %>
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description%>
    </p>
    <%= f.submit %>
  <% end %>
</body>
</html>
